<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.huel.user.mapper.CustomerMapper">

    <resultMap type="cn.edu.huel.user.domain.Customer" id="CustomerResult">
        <result property="id" column="id"/>
        <result property="phone" column="phone"/>
        <result property="password" column="password"/>
        <result property="gender" column="gender"/>
        <result property="customerName" column="customer_name"/>
        <result property="idNum" column="id_num"/>
        <result property="avatar" column="avatar"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="registerDate" column="register_date"/>
        <result property="level" column="level"/>
        <result property="authStatus" column="auth_status" jdbcType="BOOLEAN"/>
        <result property="authInfo" column="auth_info"/>
        <result property="facialFeatures" column="facial_features" jdbcType="BLOB"/>
    </resultMap>

    <sql id="selectCustomerVo">
        select id,
               phone,
               password,
               gender,
               customer_name,
               id_num,
               avatar,
               login_ip,
               login_date,
               register_date,
               level,
               auth_status,
               auth_info,
               facial_features
        from t_customer
    </sql>


</mapper>