<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.huel.user.mapper.IntegralMapper">

    <resultMap type="cn.edu.huel.user.domain.Integral" id="IntegralResult">
        <result property="id" column="id"/>
        <result property="customerId" column="customer_id"/>
        <result property="currentIntegral" column="current_integral"/>
        <result property="lastIntegral" column="last_integral"/>
        <result property="orderId" column="order_id"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectIntegralVo">
        select id, customer_id, current_integral, last_integral, order_id, update_time
        from t_integral
    </sql>

    <sql id="baseColumns">
        select id, customer_id, current_integral, last_integral, order_id, update_time
    </sql>

    <select id="queryLastIntegral" resultType="cn.edu.huel.user.domain.Integral">
        <include refid="baseColumns"/>
        where update_time = (
        select max(update_time) from t_integral
        where customer_id = #{customerId}
        )
    </select>

</mapper>