<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.huel.user.mapper.RegionMapper">

    <resultMap id="BaseResultMap" type="cn.edu.huel.user.domain.Region">
        <id property="regionId" column="region_id" jdbcType="VARCHAR"/>
        <result property="regionName" column="region_name" jdbcType="VARCHAR"/>
        <result property="regionShortName" column="region_short_name" jdbcType="VARCHAR"/>
        <result property="regionCode" column="region_code" jdbcType="VARCHAR"/>
        <result property="regionParentId" column="region_parent_id" jdbcType="VARCHAR"/>
        <result property="regionLevel" column="region_level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        region_id,region_name,region_short_name,
        region_code,region_parent_id,region_level
    </sql>

    <select id="selectRegionCodeByAreaId" resultType="java.lang.String">
        select region_code
        from sys_region
        where region_name = (select name
                             from t_area
                             where id = #{areaId})
    </select>


    <select id="selectAllLocalCities" resultType="cn.edu.huel.user.domain.Region">
        select region_id, region_name, region_short_name, region_code, region_parent_id, region_level
        from sys_region
        where region_parent_id
            in (select region_id
                from sys_region
                where region_level = 1)
          and (region_name like '%市' or region_name like '%州' or region_name like '%地区')
    </select>


    <select id="selectChildCountsByParentRegionCode" resultType="cn.edu.huel.user.domain.Region">
        select region_id, region_name, region_short_name, region_code, region_parent_id, region_level
        from sys_region
        where region_parent_id =
              (select region_id from sys_region where region_code = #{parentRegionCode})
    </select>

    <select id="selectRegionCodeByZipCode" resultType="cn.edu.huel.user.domain.Region">
        select region_id, region_name, region_short_name, region_code, region_parent_id, region_level
        from sys_region
        where region_name
                  = (select name
                     from t_area
                     where zip_code = #{zipCode})
    </select>

    <select id="queryParentRegionInfo" resultType="cn.edu.huel.user.domain.Region">
        select region_id, region_name, region_short_name, region_code, region_parent_id, region_level
        from sys_region
        where region_id in
        <foreach collection="collect" open="(" close=")" separator="," item="ele">
            #{ele}
        </foreach>
    </select>


</mapper>
