<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.huel.user.mapper.TransportMapper">

    <resultMap type="cn.edu.huel.user.domain.Transport" id="TransportResult">
        <result property="id" column="id"/>
        <result property="customerId" column="customer_id"/>
        <result property="orderId" column="order_id"/>
        <result property="currentPosition" column="current_position"/>
        <result property="updateTime" column="update_time"/>
        <result property="employeeId" column="employee_id"/>
        <result property="employeeName" column="employee_name"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectTransportVo">
        select id,
               customer_id,
               order_id,
               current_position,
               update_time,
               employee_id,
               employee_name,
               remark
        from t_transport
    </sql>


</mapper>