<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.TransportPlanMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.web.domain.TransportPlan">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="origin" column="origin" jdbcType="CHAR"/>
        <result property="destination" column="destination" jdbcType="CHAR"/>
        <result property="planStartTime" column="plan_start_time" jdbcType="TIMESTAMP"/>
        <result property="planReachTime" column="plan_reach_time" jdbcType="TIMESTAMP"/>
        <result property="term" column="term" jdbcType="CHAR"/>
        <result property="leaveTime" column="leave_time" jdbcType="TIMESTAMP"/>
        <result property="reachTime" column="reach_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="detailId" column="detail_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,origin,destination,
        plan_start_time,plan_reach_time,term,
        leave_time,reach_time,create_time,
        update_time,create_by,detail_id
    </sql>
</mapper>
